* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;

}

html, body {

    width: 100%;
    height: 100vh;
    overflow: hidden;

}

.cenario {

    width: 100%;
    height: 100vh;
    background: linear-gradient(#87CEEB, #fff);
    overflow: hidden;
    position: relative;

}

.cenario-sol {

    width: 100px;

}

.cenario-nuvem {

    width: 100px;
    position: absolute;

}

.cenario-nuvem1 {

    top: 0;
    left: 110%;

}

.cenario-nuvem2 {

    top: 40px;
    left: 100%;

}

.cenario-nuvem3 {

    width: 200px;
    top: 100px;
    left: 140%;

}

.jogador {

    width: 80px;
    position: absolute;
    bottom: 80px;
    left: 40px;

}

.salto {

    animation-name: animarsalto;
    animation-duration: 500ms;

}

@keyframes animarsalto{

    0% {
    
        bottom: 80px;
    
    }
    
    50% {
    
        bottom: 170px;
    
    }
    
    60% {
    
        bottom: 170px;
    
    }
    
    100% {
    
        bottom: 80px;
    
    }

}

.cenario-chao {

    width: 500px;
    height: 80px;
    position: absolute;
    bottom: 0;

}

.cenario-chao1 {

    left: 0;

}

.cenario-chao2 {

    left: 500px;

}

.cenario-chao3 {

    left: 1000px;

}

.cenario-cactu {

    width: 60px;
    position: absolute;
    bottom: 80px;
    left: 100%;

}